body{
    height : 100vh;
    weight : 100vh;
    background color : #121212
}
section {
    border : 2px solid black;
    margin-left : 300px;
    margin-right : 300px;
    margin-top : 100px;
}
.contant{
    margin : 60px;
}
.hr1{
    height : 2px;
    background-color : #000000
}
.p1{
    font-size : 30px;
    margin-left : 2px;
}
.p2{
  color : #2E7D0F;
  margin-top : 20px
}
.p3{
    color : #2e7dff;
}
.p4{
    margin-top : -14px;
}